{% extends 'panel.twig' %}
{% block title %}Agenda{% endblock %}
{% block style %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <h3>
                    Contacts 
                    <small class="pull-right">
                        <a href="/contacts/new" class="btn btn-success btn-sm" style="float:right;">New</a>
                    </small>
                </h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th style="width:80%" scope="col">Contact name</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <th scope="row">{{ contact.fullName }}</th>
                            <td>
                                <a href="/contacts/{{contact.id}}">View</a> | 
                                <a href="/contacts/{{contact.id}}/update">Update</a> | 
                                <a href="/contacts/{{contact.id}}/delete">Delete</a> 
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}
