{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
        .login-container{
            position: relative;
            width: 300px;
            margin: 80px auto;
            padding: 20px 40px 40px;
            text-align: center;
            background: #fff;
            border: 1px solid #ccc;
        }
        #output{
            position: absolute;
            width: 300px;
            top: -75px;
            left: 0;
            color: #fff;
        }
        #output.alert-success{
            background: rgb(25, 204, 25);
        }
        #output.alert-danger{
            background: rgb(228, 105, 105);
        }
        .login-container::before,.login-container::after{
            content: "";
            position: absolute;
            width: 100%;height: 100%;
            top: 3.5px;left: 0;
            background: #fff;
            z-index: -1;
            -webkit-transform: rotateZ(4deg);
            -moz-transform: rotateZ(4deg);
            -ms-transform: rotateZ(4deg);
            border: 1px solid #ccc;

        }   
        .login-container::after{
            top: 5px;
            z-index: -2;
            -webkit-transform: rotateZ(-2deg);
             -moz-transform: rotateZ(-2deg);
              -ms-transform: rotateZ(-2deg);

        }
        .avatar{
            width: 100px;height: 100px;
            margin: 10px auto 30px;
            border-radius: 100%;
            border: 2px solid #aaa;
            background-size: cover;
            background-image: url('/img/user.png');
        }
        .form-box input{
            width: 100%;
            padding: 10px;
            text-align: center;
            height:40px;
            border: 1px solid #ccc;;
            background: #fafafa;
            transition:0.2s ease-in-out;

        }
        .form-box input:focus{
            outline: 0;
            background: #eee;
        }
        .form-box input[type="text"]{
            border-radius: 5px 5px 0 0;
            text-transform: lowercase;
        }
        .form-box input[type="password"]{
            border-radius: 0 0 5px 5px;
            border-top: 0;
        }
        .form-box button.login{
            margin-top:15px;
            padding: 10px 20px;
        }
        .animated {
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInUp {
          0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
            transform: translateY(20px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }
        .fadeInUp {
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
        }
    </style>
{% endblock %}

{% block body %}
    <div class=".container">
        <div class="row">
            <div class="col-xl">
                <div class="login-container" id>
                    <div id="output"></div>
                    <div class="avatar"></div>
                    <div class="form-box">
                        <form>
                            <input name="email" id="email" type="text" placeholder="user@mail.com">
                            <input type="password" id="password" placeholder="password">
                            <button id="login" class="btn btn-info btn-block login" type="submit">Login</button>
                            <a href="/register" id="cancel" class="btn btn-secondary btn-block login">Registrarse</a>
                            <a href="/agenda" id="home" class="btn btn-success btn-block login" style="display: none;">Inicio</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function(){
            var email = "#email";
            var password = "#password";
                    
            $('button[type="submit"]').click(function(e) {
                e.preventDefault();

                if ($(email).val() != "") {
                    hideButtons();

                    $.ajax({
                        type: 'post',
                        url: '/users/login',
                        data: {
                            email: $(email).val(),
                            password: $(password).val()
                        }, 
                        success: function(json) {
                            if (json.status === 'error') {
                                displayAlert(json.message, 'danger');
                                showButtons();
                                return;
                            }

                            $("input").css({
                                "height":"0",
                                "padding":"0",
                                "margin":"0",
                                "opacity":"0"
                            });

                            displayAlert('Wellcome back! ' + $(email).val());

                            sessionStorage.setItem('user', JSON.stringify(json.data));

                            showHomeButton();
                        },
                        error: function(err) {
                            var json = err.responseJSON;
                            displayAlert(json.message, 'danger');
                            showButtons();
                        }
                    });
                } else {
                    displayAlert('Sorry, enter a username.', 'danger');
                }
            });

            function displayAlert(message, type) {
                var output = "#output";
                var inputs = "input";
                var avatar = ".avatar";
                var button = 'button[type="submit"]';

                if (type === 'danger') {
                    $(output).removeClass(' alert alert-success');
                    $(output).addClass("alert alert-danger animated fadeInUp")
                        .text(message);
                } else {
                    $(output).addClass("alert alert-success animated fadeInUp")
                        .html(message);
                    $("#output").removeClass(' alert-danger');
                }
            }

            function showHomeButton() {
                $('#login').fadeOut('fast');
                $('#cancel').fadeOut('fast');
                $('#home').fadeIn('fast');
            }

            function hideButtons() {
                $('#login').fadeOut('fast');
                $('#cancel').fadeOut('fast');
            }

            function showButtons() {
                $('#login').fadeIn('fast');
                $('#cancel').fadeIn('fast');
            }
        });
    </script>
{% endblock %}
