{% extends 'base.twig' %}

{% block title %}Registrarse{% endblock %}
{% block style %}{% endblock %}

{% block body %}
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Test Artak</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xl">
                <h1>Registro</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                    <p id="text-error"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="User name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" id="lastname" aria-describedby="lastnameHelp" placeholder="User lastname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <a href="#" id="send-form" class="btn btn-primary">Registrar</a>
                    <a href="/" id="cancel" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function(){
            $('#send-form').click(function(e) {
                e.preventDefault();
                disableButtons();

                $.ajax({
                    type: 'post',
                    url: '/users',
                    data: {
                        name: $('#name').val(),
                        lastname: $('#lastname').val(),
                        email: $('#email').val(),
                        password: $('#password').val()
                    },
                    success: function(json) {
                        enableButtons();

                        if (json.status == 'error') {
                            displayAlert(json.message, 'danger');
                            return;
                        }

                        displayAlert(json.message);
                        flushFields();
                    },
                    error: function(err) {
                        var json = err.responseJSON;
                        displayAlert(json.message, 'danger');
                        enableButtons();
                    }
                });
            });
        });

        function enableButtons() {
            $('#send-form').attr('disabled', 'false');
            $('#cancel').attr('disabled', 'false');
        }

        function disableButtons() {
            $('#send-form').attr('disabled', 'true');
            $('#cancel').attr('disabled', 'true');
        }

        function flushFields() {
            $('#name').val('');
            $('#lastname').val('');
            $('#email').val('');
            $('#password').val('');
        }

        function displayAlert(message, type) {
            var alert = '#alert';

            if (type === 'danger') {
                $(alert).addClass('alert-danger');
                $(alert).removeClass('alert-success');
            } else {
                $(alert).addClass('alert-success');
                $(alert).removeClass('alert-danger');
            }

            $('#text-error').text(message);
            $(alert).fadeIn('fast');

            setTimeout(function(){
                $(alert).fadeOut('fast');
            }, 5000);
        }
    </script>
{% endblock %}