{% extends 'panel.twig' %} {% block title %}New Contact{% endblock %} {% block style %}{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <h3>
                {{ contact.fullName }}
                <small class="pull-right">
                    <a href="/agenda" id="return" class="btn btn-warning btn-sm float-right">Return</a>
                    <a href="/contacts/{{ contact.id }}/update" id="return" class="btn btn-primary btn-sm float-right">Update</a>
                </small>
            </h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                <p id="text-error"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">
                            <b>Name</b>
                        </th>
                        <td>{{ contact.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <b>Lastname</b>
                        </th>
                        <td>{{ contact.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <b>Email</b>
                        </th>
                        <td>{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <b>Phone</b>
                        </th>
                        <td>{{ contact.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <b>Address</b>
                        </th>
                        <td>{{ contact.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <h4>
                Social Networks
                <small class="float-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                      ADD
                    </button>
                </small>
            </h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Network</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for network in networks %}
                    <tr>
                        <th scope="row">{{ network.network_type }}</th>
                        <th>
                            <a href="{{ network.url }}" target="_blank">{{ network.url }}</a>
                        </th>
                        <td>
                            <a href="/networks/{{ network.id }}/delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Network</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="networkForm" action="/networks" method="post">
          <div class="form-group">
            <label for="network_type">Network</label>
            <select class="form-control" name="network_type" id="network_type">
                <option value="FACEBOOK">FACEBOOK</option>
                <option value="TWITTER">TWITTER</option>
                <option value="PINTEREST">PINTEREST</option>
            </select>
          </div>
          <div class="form-group">
            <label for="network_url">URL</label>
            <input type="url" class="form-control" name="network_url" id="network_url" placeholder="URL">
          </div>

          <input type="hidden" name="contact_id" id="contact_id" value="{{ contact.id }}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save-network" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}
<script>
    $(function () {
        $('#save-network').click(function(e){
            e.preventDefault();
            document.networkForm.submit();
        });

        function openLoading() {
            $('#save').attr('disabled', 'true');
            $('#load').fadeIn('fast');
        }

        function closeLoading() {
            $('#save').attr('disabled', 'false');
            $('#load').fadeOut('fast');
        }

        function displayAlert(message, type) {
            var alert = '#alert';

            if (type === 'danger') {
                $(alert).addClass('alert-danger');
                $(alert).removeClass('alert-success');
            } else {
                $(alert).addClass('alert-success');
                $(alert).removeClass('alert-danger');
            }

            $('#text-error').text(message);
            $(alert).fadeIn('fast');
        }
    });
</script>
{% endblock %}