{% extends 'panel.twig' %} 
{% block title %}Update Contact{% endblock %} 
{% block style %}{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <h3>
                Update Contact
                <small class="pull-right">
                    <a href="/agenda" id="return" class="btn btn-warning btn-sm float-right">Return</a>
                </small>
            </h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                <p id="text-error"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Contact Name" value="{{ contact.name }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Contact Lastname" value="{{ contact.lastname }}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{ contact.email }}">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone" value="{{ contact.phone }}">
                </div>
                <div class="form-group">
                    <textarea id="address" class="form-control" placeholder="Address">{{contact.address}}</textarea>
                </div>
                <input type="hidden" id="id" value="{{ contact.id }}"> 
                <a href="#" id="save" class="btn btn-primary">Submit</a>
                <img id="load" src="/img/load.gif" alt="Charging..." style="width:40px; display:none">
            </form>
        </div>
    </div>
</div>
{% endblock %} 
{% block javascript %}
<script>
$(function(){
    $('#save').click(function(e){
        e.preventDefault();
        openLoading();

        $.ajax({
            type: 'post',
            url: '/contacts/' + $('#id').val() + '/update',
            data: {
                name: $('#name').val(),
                lastname: $('#lastname').val(),
                email: $('#email').val(),
                phone: $('#phone').val(),
                address: $('#address').val()
            },
            success: function(json) {
                console.log(json);
                if (json.status === 'error') {
                    displayAlert(json.message, 'danger');
                    closeLoading();
                    return;
                }

                window.location.href = '/agenda';
            }, 
            error: function(err) {
                console.log(err);
                var json = err.responseJSON;

                displayAlert(json.message, 'danger');
                closeLoading();
            }
        });
    });

    function openLoading() {
        $('#save').attr('disabled', 'true');
        $('#load').fadeIn('fast');
    }
    function closeLoading() {
        $('#save').attr('disabled', 'false');
        $('#load').fadeOut('fast');
    }
    function displayAlert(message, type) {
        var alert = '#alert';

        if (type === 'danger') {
            $(alert).addClass('alert-danger');
            $(alert).removeClass('alert-success');
        } else {
            $(alert).addClass('alert-success');
            $(alert).removeClass('alert-danger');
        }

        $('#text-error').text(message);
        $(alert).fadeIn('fast');

        /*setTimeout(function(){
            $(alert).fadeOut('fast');
        }, 5000);*/
    }
});
</script>
{% endblock %}